*.pth
# *.mp4
# *.pt
*.h5

# app/models
!Final.h5
!my_model_updated.h5

/myenv
*.env
/env
/archive
/app_env
/train_env

# Cache
/pose_cache
/__pycache__
__pycache__

/old
pipeTest.ipynb
/openpose
/ISL_Gifs
ISL_Gifs
keyframe_videos_old
/keyframe_videos_old

!corpus_data_2.pt
!ISL_Gifs
!keyframe_videos
!keyframe_videos_hand
!/keyframe_videos
!/keyframe_videos_hand

