keras
keyboard
logging
numpy
opencv-python-headless
pyttsx3
sentence_transformers
streamlit
mediapipe
torch
tensorflow
tf-keras
streamlit-webrtc
streamlit-autorefresh

# For GPU support, uncomment the following line and comment out the tensorflow line above
