keras
keyboard
logging
numpy
opencv-python-headless
pyttsx3
sentence_transformers
streamlit
mediapipe
torch
tensorflow
tf-keras
streamlit-webrtc
streamlit-autorefresh


# imageio
# keras
# keyboard
# # mediapipe==0.10.21
# numpy
# opencv_python
# pyttsx3
# Requests
# sentence_transformers
# streamlit
# streamlit_autorefresh
# streamlit_webrtc
# tensorflow
# tensorflow_intel
# torch
